<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
 <h1>Car Inventory</h1>
  <a href="/cars/new">Add a New Car</a>
  <hr>

  <% allData.forEach(car => { %>
  <h3><%= car.modelName %> (<%= car.year %>)</h3>
        <p><strong>Category:</strong> <%= car.category %> </p>
        <form action="/cars/<%= car._id %>" method="GET">
  <button type="submit">Edit</button>
</form>
<br>
<form action="/cars/<%= car._id %>/delete" method="POST">
  <button type="submit">Delete</button>
</form>
        <% }); %>
        
</body>
</html>